.avatar {
  object-fit: cover;
  border-radius: 5px;
}

.avatar-profil {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  margin-top: 5%;
  border: 5px solid var(--color-settings);
}

@media (max-width: 768px) {
  .avatar-profil {
    width: 150px;
    height: 150px;
    margin-top: 20%;
  }
}
