.container-btn {
  display: flex;
  gap: 1rem;
  margin-right: 5%;
}

.container-post-settings {
  display: flex;
  background-color: var(--color-post);
  color: var(--color-text);
  text-decoration: none;
}

.container-settings-add {
  background-color: var(--color-settings);
  width: 30%;
  padding: 2%;
  display: flex;
  flex-direction: column;
  margin-top: 74px;
}

.container-tags {
  display: flex;
  font-weight: 700;
}

.container-settings {
  display: flex;
  flex-direction: column;
  height: 1200px;
}

.add-post {
  margin-top: 150%;
}

.container-post {
  width: 70%;
  display: flex;
  flex-direction: column;
  font-size: large;
  padding: 2%;
  background-color: #4e4e4e;
  margin-top: 74px;
}

.container-description {
  background-color: var(--color-settings);
  padding-top: 5%;
  padding-left: 12%;
  padding-right: 12%;
  padding-bottom: 5%;
  color: var(--color-text);
  border-top: 10px solid #4e4e4e;
}

.container-login {
  background-color: var(--color-settings);
  color: var(--color-text);
  height: 120vh;
}

.container-dark {
  background-color: var(--color-settings);
}

.container-form {
  background-color: var(--color-post);
}

@media (max-width: 768px) {
  .container-description {
    padding-top: 10%;
  }

  .container-settings-add {
    display: none;
  }

  .container-post {
    width: 100%;
    height: 100%;
    margin-top: 74px;
  }
}

.container-tag-list {
  display: flex;
  justify-content: space-between;
}

.container-avatar {
  position: relative;
  padding-left: 10%;
  height: 200px;
  padding-top: 40px;
  background-color: var(--color-app);
}
