.red-cross {
  width: 30px;
  height: 30px;
  position: relative;
}
.red-cross:before,
.red-cross:after {
  content: "";
  width: 20px;
  height: 5px;
  background-color: red;
  position: absolute;
  top: calc(50% - 1px);
  left: calc(50% - 10px);
}
.red-cross:before {
  transform: rotate(45deg);
}
.red-cross:after {
  transform: rotate(-45deg);
}
