.red-cross {
  width: 30px;
  height: 30px;
  position: relative;
  z-index: 0;
}

.red-cross:before,
.red-cross:after {
  content: "";
  width: 20px;
  height: 5px;
  background-color: red;
  position: absolute;
  top: calc(50% - 1px);
}

.red-cross:before {
  transform: rotate(45deg);
}

.icon-cross {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.red-cross:after {
  transform: rotate(-45deg);
}
