dialog::backdrop {
  background: #191919;
  opacity: 0.8;
}

dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}

.modal-add {
  background-color: var(--color-settings);
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  width: 400px;
  height: 22%;
  align-items: center;
  padding: 1rem;
  border: 2px solid var(--color-settings);
}

.modal-sup {
  background-color: var(--color-settings);
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  width: 400px;
  height: 190px;
  align-items: center;
  padding: 1rem;
}

textarea {
  width: 100%;
  outline: none;
  height: 40px;
  color: var(--color-text);
  padding: 12px 20px;
  box-sizing: border-box;
  background-color: var(--color-post);
  border-radius: 4px;
  resize: none;
  font-family: "Montserrat", sans-serif !important;
}

.confirm-btn {
  border: 2px solid var(--color-app);
  color: var(--color-text);
  padding: 10px;
  background-color: var(--color-settings);
  border-radius: 50px;
  font-size: 16px;
}

.confirm-btn:hover {
  background-color: var(--color-app);
  color: var(--color-text);
  transition: all 1s;
  font-size: 16px;
}

.cancel-btn {
  width: 30px;
  height: 30px;
  position: relative;
  z-index: 0;
}

.cancel-btn:before,
.cancel-btn:after {
  content: "";
  width: 20px;
  height: 5px;
  background-color: rgb(194, 194, 194);
  position: absolute;
  top: calc(50% - 1px);
}

.cancel-btn:before {
  transform: rotate(45deg);
}

.cancel-btn:after {
  transform: rotate(-45deg);
}

.modal-cancel {
  display: flex;
  background-color: var(--color-settings);
  justify-content: flex-end;
  border: 2px solid var(--color-settings);
}

.h2-modal {
  text-align: center;
}

input.image-upload {
  display: none;
}

input.image-upload {
  display: inline-block;
  padding: 8px 16px;
  background-color: var(--color-app);
  color: white;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 468px) {
  .modal-add {
    width: 280px;
    margin: auto;
    height: 100%;
  }

  .modal-sup {
    width: 280px;
  }

  .btn-create-account {
    padding: 2px;
    font-size: 10px;
  }

  .btn-account {
    padding: 2px;
    font-size: 10px;
  }
}
