dialog::backdrop {
  background: #191919;
  opacity: 0.8;
}

dialog {
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 5%;
}

.modal-add {
  background-color: var(--color-settings);
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 600px;
  height: 350px;
  align-items: center;
  padding: 1rem;
}

.modal-sup {
  background-color: var(--color-settings);
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 400px;
  height: 200px;
  align-items: center;
  padding: 1rem;
}

textarea {
  width: 100%;
  outline: none;
  height: 150px;
  color: var(--color-text);
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: var(--color-settings);
  resize: none;
}

#confirm-btn {
  border: 2px solid var(--color-app);
  color: var(--color-text);
  padding: 1rem;
  background-color: var(--color-settings);
  border-radius: 50px;
}

#confirm-btn:hover {
  background-color: var(--color-app);
  color: var(--color-text);
  transition: all 1s;
}

#cancel-btn {
  outline: none;
  border: 2px solid rgb(195, 1, 1);
  color: var(--color-text);
  padding: 1rem;
  background-color: var(--color-settings);
  border-radius: 50px;
}

#cancel-btn:hover {
  background-color: rgb(195, 1, 1);
  color: var(--color-text);
  transition: all 1s;
}

@media (max-width: 768px) {
  .modal-add {
    height: 400px;
    width: 350px;
  }

  dialog {
    margin-left: 10%;
    margin-right: 10%;
  }
}
