dialog::backdrop {
  background: #191919;
  opacity: 0.8;
}

dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}

.modal-add {
  background-color: var(--color-settings);
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  width: 400px;
  height: 350px;
  align-items: center;
  padding: 1rem;
}

.modal-sup {
  background-color: var(--color-settings);
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  width: 400px;
  height: 200px;
  align-items: center;
  padding: 1rem;
}

textarea {
  width: 100%;
  outline: none;
  height: 150px;
  color: var(--color-text);
  padding: 12px 20px;
  box-sizing: border-box;
  background-color: var(--color-post);
  border-radius: 4px;
  resize: none;
  font-family: "Montserrat", sans-serif !important;
}

.confirm-btn {
  border: 2px solid var(--color-app);
  color: var(--color-text);
  padding: 10px;
  background-color: var(--color-settings);
  border-radius: 50px;
  font-size: 16px;
}

.confirm-btn:hover {
  background-color: var(--color-app);
  color: var(--color-text);
  transition: all 1s;
  font-size: 16px;
}

.cancel-btn {
  outline: none;
  border: 2px solid rgb(195, 1, 1);
  color: var(--color-text);
  padding: 10px;
  margin-right: 25px;
  background-color: var(--color-settings);
  border-radius: 50px;
  font-size: 16px;
}

.cancel-btn:hover {
  background-color: rgb(195, 1, 1);
  color: var(--color-text);
  transition: all 1s;
  font-size: 16px;
}
