.card-post {
  border: 0.5px solid rgb(41, 41, 41);
  padding: 2%;
  width: 100%;
  display: block;
}

.description-profil {
  display: flex;
  gap: 2rem;
  padding-bottom: 2%;
}

.h4-pseudo {
  color: #b8b8b8;
  font-size: larger;
}

.h3-post {
  font-size: x-large;
}

.tag {
  color: var(--color-app);
}

.post-description {
  display: flex;
  gap: 1rem;
}

@media (max-width: 768px) {
  .card-post {
    padding-bottom: 5%;
  }
}
