.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: relative;
  z-index: 1;
}

.dropdown-content a {
  color: var(--color-app);
  background-color: var(--color-navbar);
  padding: 5px 5px;
  text-decoration: none;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropbtn {
  background-color: var(--color-navbar);
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

select {
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  background-color: var(--color-post);
  color: white;
  text-decoration: none;
}

select option {
  padding: 10px;
  font-size: 16px;
  color: #333;
  background-color: #fff;
}

select:focus {
  outline: none;
}
